@import "../variables";

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:0 auto ;
}

.inputField {
    border-color: blue;
}

.quoteCards {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 200px;
}