$primaryColor: #118DC6;
$secondaryColor: #EDEFE2;
$buttonColor: #4BA8B2;

@mixin reset-user-agent-margins {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    
}